.footer {
    padding-top: 100px;
    padding-bottom: 30px;
    text-align:center;
    color: rgb(100, 100, 100);
    font-size: 14px;
    font-weight: 500;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,1));
  }
  
  a {
    color: inherit;
    text-decoration: none; /* no underline */
  }

  a #c {
    transition: all .2s ease-in-out;
  }

  a:hover #c {
    color:red;
  }

  img {
    position: absolute;
    right: 30px;;
    height: 30px;
  }
  