.footer {
    padding-top: 100px;
    padding-bottom: 30px;
    text-align:center;
    color: rgb(100, 100, 100);
    font-size: 14px;
    font-weight: 500;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,1));
  }

  img {
    position: absolute;
    right: 30px;;
    height: 30px;
  }
  