<div>
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="logo" routerLink="/home">movieDB v2</span>
    <span class="example-spacer"></span>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text"
                
                (input)="search($event.target.value)"
                 placeholder="Search"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of _options" [value]="option['title']" (onSelectionChange)="enter(option['type'], option['id'])" [routerLink]="['/content', option['type'], option['id']]">
              {{ option['title'] || option['name'] }} <span class="right">{{ option['year'].substring(0,4) }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>

      <span class="example-spacer"></span>
      <button class="transition" routerLink="/genres/movie" [ngStyle]="{background: param==='movie'?'red':'tv'?'':''}" mat-raised-button>Movies</button>
      <button class="transition" routerLink="/genres/tv" (mouseenter)="trigger.closeMenu()" [ngStyle]="{background: param==='tv'?'red':''}" mat-raised-button>Tv Shows</button>
      <button class="transition" routerLink="/home" *ngIf="!userData['name'] && userData!==null" mat-raised-button (click)="user.login()">Sign In</button>
      <!-- <button [matMenuTriggerFor]="menu" #trigger="matMenuTrigger" (mouseenter)="trigger.openMenu()" (mouseleave)="trigger.closeMenu()">Menu</button> -->

      
        <button mat-icon-button id="margin" *ngIf="userData['name']" class="transition"
        [matMenuTriggerFor]="menu" #trigger="matMenuTrigger" 
        (mouseover)="trigger.openMenu()">
          {{ userData['name'] }}
          <mat-icon [matBadge]="listCount" matBadgeColor="warn" class="favorite">favorite</mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="mat-menu-panel myMenu" [hasBackdrop]="false" overlapTrigger="false" xPosition="after">
          <div (mouseleave)="trigger.closeMenu()">
            <button mat-menu-item routerLink="/watchlist">
              Watchlist
              <mat-icon [matBadge]="listCount" matBadgeColor="warn" class="favorite">favorite</mat-icon>
            </button>
            <button mat-menu-item (click)="user.logout()">
              Logout
            </button>
          </div>
          
        </mat-menu>
      
      
      

      <!-- <div class="watchlist"  routerLink="/watchlist">
          <span>Watchlist</span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon [matBadge]="listCount" matBadgeColor="warn">favorite</mat-icon>
        </button>
      </div> -->

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>


</div>