.example-spacer {
    flex: 1 1 auto;
  }

  #logo {
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
  }

  #logo:hover {
      color: teal;
      opacity: .8;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    height: 96%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .right {
    float: right;
  }

  .watchlist {
    cursor: pointer;
    outline: none
  }

  button {
    background: transparent;
    color: white;
    font-size: 18px;
    margin-right: 20px;
  }

  button.transition {
    transition: .2s all ease-in-out;
  }

  button.transition:hover {
    color: teal;
  }

  mat-toolbar {
      background-color: rgb(42, 45, 66);
      /* background-color: black; */
      color: white;
      position: fixed;
      top: 0;
      width: 100%;
      box-shadow: 0 5px 10px -3px #010101;
      z-index: 1;
      /* opacity: .5; */
  }

  mat-option {
    background-color: black;
    opacity: .95;
    color: white;
  }

  .mat-option.mat-active, .mat-option:hover {
    background-color: black;
    opacity: 1 !important;
    color: white;
  }

  .mat-option.mat-selected {
    background-color: black !important;
    color: white !important;
    opacity: 1 !important;
  }

  

  form {
      color: red;
  }

  /* mat-menu {
    background-color: black;
  } */

  button[mat-menu-item] {
    color: teal;
    background-color: black;
  } 

