

.backdrop {
    /* background-image: linear-gradient(rgba(0,0,0,.85) 15%,rgba(0,0,0,.2) 40%,#000 90%); */
        padding-top: 80px;;
        height:100%; 
        background-size:cover; 
        width:auto;
        background-position:50% 50%;
        
}

.card {
    width: 800px;
    margin: auto;
    background-color: black;
    color: white;
    opacity:.8;
}

mat-card-subtitle {
    color: teal;
}

button {
    background: black;
    opacity: 1;
    border: .5px solid grey;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

button.review {
    border: none;
    color: white;
    position: absolute;
    margin-top: -300px;
    margin-left: 100px;
    background: black;
    opacity: .6;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

button:hover {
    color: teal;
    opacity: .8;
}