.container {
    min-height: 1080px;
}

button {
    margin-left: 80px;
    margin-top: 50px;;
    color: white;
    background: teal;
    opacity: 1;
    border: .5px solid black;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

button:hover {
    color: white;
    opacity: .8;
    background: black;
}