.wrapper { 
    background:transparent; 
    /* box-shadow: 1px 1px 10px #999;  */
    margin: auto; 
    text-align: left; 
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    margin-bottom: 20px !important;
    width: 100%;
}

h3 {
    color: white;
    font-weight: 500;
    margin-left: 20px;
    
}

.scrolls { 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    height: 300px;
} 
.imageDiv { 
    margin: 0;
    height: 300px;
    width: 1200px;
    display: inline;
    
} 

.imageDiv img { 
    box-shadow: 1px 1px 10px #999; 
    margin: 2px;
    max-height: 250px;
    cursor: pointer;
    display: inline-block;
    transition: all .2s ease-in-out;
    /* overflow: visible; */
}

/* button{ display:none}
img:hover button{
    display:block;
    overflow: visible;
} */

img:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        
}

::-webkit-scrollbar{
    height: 1px;
    width: 1px;
    background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
}